* {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    /*align-items: center;*/
    /*justify-content: center;*/
}

body {
    width: 200px;
    padding: 0;
    /*padding: 0 10px;*/
}

form {
    margin: 0;
    padding: 0;
    width: 100%;
}

input {
    padding: 5px;
}

input[type=checkbox] {
    width: 15px;
    height: 15px;
}

label {
    cursor: pointer;
    vertical-align: middle;
    align-items: center;
    padding: 5px 10px;
}

label:hover {
    background-color: lightgrey;
}

.row {
    flex-direction: row;
}

.jc-sb {
    justify-content: space-between;
}

.jc-c {
    justify-content: center;
}

.ai-c {
    align-items: center;
}

#root {

}

#root > h1 {
    align-self: center;
}

.marg {
    margin: 5px;
}
.marg-v {
    margin: 5px 0;
}

.interval {
    width: 50px;
    /*height: 20px;*/
    padding-right: 0;
}

#setIntervalBtn {
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
}
